<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Features</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}" />
  </head>
  <body>
    <div class="about">
      <div class="top-bar">
        <a class="home" href="/">
        Home
        </a>
        <a class="aboutbtn" href="about">
        About 
        </a>
        <a class="sign-in" href="login">
        Sign in 
        </a>
        <a class="sign-up" href="signUp">
        Sign up? 
        </a>
      </div>
      <div class="container-3">
        <div class="container">
          <div class="discover-ragams">
          Discover Ragams
          </div>
          <div class="container-4">
            <a class="albums-card" href="help">
              <div class="image-10">
              </div>
              <span class="notes">
              notes
              </span>
            </a>
            <a class="charts-card" href="search">
              <div class="image-11">
              </div>
              <span class="search">
              Search
              </span>
            </a>
            <div class="more-card">
              <div class="image-8">
              </div>
              <span class="practice">
              Practice
              </span>
            </div>
          </div>
          <p class="our-website-specializes-in-ragam-classification-by-inputting-amusical-phrase-such-assa-ri-ga-ma-the-website-identifies-which-ragam-it-belongs-to-such-as-mohanam-or-hamsadwani">
          <span class="our-website-specializes-in-ragam-classification-by-inputting-amusical-phrase-such-assa-ri-ga-ma-the-website-identifies-which-ragam-it-belongs-to-such-as-mohanam-or-hamsadwani-sub-0"></span>
          <span class="our-website-specializes-in-ragam-classification-by-inputting-amusical-phrase-such-assa-ri-ga-ma-the-website-identifies-which-ragam-it-belongs-to-such-as-mohanam-or-hamsadwani-sub-78"></span>
          <span class="our-website-specializes-in-ragam-classification-by-inputting-amusical-phrase-such-assa-ri-ga-ma-the-website-identifies-which-ragam-it-belongs-to-such-as-mohanam-or-hamsadwani-sub-0"></span>
          <span class="our-website-specializes-in-ragam-classification-by-inputting-amusical-phrase-such-assa-ri-ga-ma-the-website-identifies-which-ragam-it-belongs-to-such-as-mohanam-or-hamsadwani-sub-78"></span>
          <span></span>
          </p>
        </div>
        <div class="image-6">
        </div>
      </div>
      <div class="container-1">
        <img class="vector" src="../vectors/vector1_x2.svg" />
      </div>
      <div class="ellipse-81">
      </div>
      <div class="ellipse-82">
      </div>
    </div>
  </body>
</html>