<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Result</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/final.css') }}" />
  </head>
  <body>
    <div class="final">
      <div class="top-bar">
        <a class="homebtn" href="/">
          Home
          </a>
      </div>
      <div class="phrase">
      Phrase 
      </div>
      <div class="phrase-op">{{phrase}}
      </div>  
      <div class="ragam">
        Ragam 
        </div>
        <div class="ragam-op">{{ragam}}
        </div>
        <div class="button">
          <a class="go-back" href="/">
          Go Back
          </a>
        </div>
      <div class="ellipse-1">
      </div>
        <div class="ellipse-2">
        </div>
        <div class="ellipse-3">
        </div>
        <div class="ellipse-4">
        </div>
    </div>
  </body>
</html>