<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raagreelm</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>
  </head>
  <body>
      <div class="top-bar">
          <a class="homebtn" href="/">
          Home
          </a>
          <a class="about" href="about">
          About
          </a>
          <a class="sign-in" href="login">
          Sign in 
          </a>
          <a class="sign-up" href="signUp">
          Sign up? 
          </a>
      </div>
      <div class="raagreelm">
      Raagreelm
      </div> <br>
      <div class="button">
        <a class="explore" href="about">
        Explore
        </a>
      </div> 
      <div class="container-2">
        <div class="ellipse-2">
        </div>
        <div class="ellipse-5">
        </div>
        <div class="ellipse-6">
        </div>
      </div>
      <div class="image-1">
      </div>
      <span class="quote">
      &#34;Harmony unveiled: Explore ragas with RaagReelm.&#34;
      </span>
  </body>
</html>