<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sign in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signIn.css') }}" />
  </head>
  <body>
    <div class="sign-in">
      <a href="/"><img class="vector" src="{{ url_for('static', filename='vectors/vector_x2.svg') }}"/></a>
      <div class="container-1">
        <div class="container-2">
        </div>
        <div class="ellipse-11">
        </div>
      </div>
      <form action="/login" method="post">
        <div class="signup-card">
            <label class="email">
              Email :
            </label>
            <input type="text"
              class="mail-box"
              name="first"
              placeholder="Enter your Username" required>
      
            <label class="password">
              Password:
            </label>
            <input type="password"
              class="pass-box"
              name="password"
              placeholder="Enter your Password" required>
              <div class="msg">{{msg}}</div>
              <button type="submit"
                  class="submitbtn">
                Log In
              </button>
          <div class="txt">Not registered? 
            <a href="signUp"
            style="text-decoration: none;">
              Create an account
            </a>
          </div>
        </div>
    </form>
      <div class="container">
        <div class="ellipse-9">
        </div>
        <div class="ellipse-13">
        </div>
      </div>
    </div>
  </body>
</html>